<div class='searchresult'>
    <img class='boxcover' src={{game.info.image}}>
    <p class='boardgamename'>{{game.info.title}}</p>
    <p class='boardgamerating'>BGG Rating: {{game.info.rating}}</p>
    <p class='boardgamedate'>Release: {{game.info.year}}</p>
    
    <form action='/user/{{currentUser._id}}?_method=PUT' method='POST'>
      <p class='input-field'>
        <input type="hidden" name="gameId" value="{{game._id}}">
        <input class='addto' type='submit' value='+ to Collection'>
      </p>
    </form>

      <p class='or'>Or</p>

      <p class='pagelinkparent'><a class='pagelink pagelinkshow' href='/boardgame/new'>Go Back</a></p>
</div>

